<component name="libraryTable">
  <library name="spring-expression-5.0.5.RELEASE">
    <CLASSES>
      <root url="jar://E:/NewMaven/repository/org/springframework/spring-expression/5.0.5.RELEASE/spring-expression-5.0.5.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>